<script type="text/javascript">
	atOptions = {
		'key' : '20b1f5c165b7ff4bedd439fde6ef79b5',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.topcpmcreativeformat.com/20b1f5c165b7ff4bedd439fde6ef79b5/invoke.js"></script>


{{- $authors := site.Params.authors }}
{{- $pageAuthor := .Params.author }}
{{- with $authors }}
  {{- $author := index (where . "name" $pageAuthor) 0 }}
  {{- with $author }}
    <div class=author>
      <a href={{ .url }} target="{{ .name }}'s profile" class=author_pic>
        {{- $imageDir := "images/" }}
        {{- $imagePath := .photo }}
        {{- if eq (in .photo "/") false }}
          {{- $imagePath = printf "%s%s" $imageDir .photo }}
        {{- end }}
        <img src={{ $imagePath  }} loading=lazy>
      </a>
      <div class=author_meta>
        <a class=author_name href={{ .url }}>{{ with .fullName }}{{ . }}{{ else }}{{ .name }}{{ end }}</a>
        <p class="pale author_bio solo">{{ .bio }}</p>
      </div>
    </div>
  {{- end }}
{{- end }}
